# Set default behavior to automatically normalize line endings.
* text=auto eol=lf

# Force text files to be LF
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Force binary files to not be normalized
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary